

.container-feedback {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 1px 5px 2px #b0adad;
    border-radius: 10px;
    box-sizing: border-box;
}

h1 {
    color: crimson;
    text-align: center;
    margin-bottom: 20px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    position: relative;
    width: 1em;
    font-size: 3vw;
    color: crimson;
    cursor: pointer;
    
}

.rating label::before {
    content: "\2605";
    position: absolute;
    color: #b0adad;
    opacity: 0.4;
}

.rating label:hover:before,
.rating label:hover ~ label:before {
    opacity: 1 !important;
    color: crimson;
}

.rating input:checked ~ label:before {
    opacity: 1;
    color: crimson ;
}

.rating input:checked ~ label:hover:before,
.rating input:checked ~ label:hover ~ label:before,
.rating label:hover ~ input:checked ~ label:before {
    opacity: 1;
}


/* Update untuk membuat SVG menjadi tidak terlihat saat di-hover atau dipilih */
.rating input:checked ~ label svg {
    opacity: 0.0;
}



